/* Apply Google Font */
body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

/* Main Heading */
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: navy;
}

/* Sub Heading */
h2 {
    font-size: 28px;
    font-style: italic;
    color: darkgreen;
}

/* Description Text */
.description {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.8;
}